/*
Template Health Care
File: Layout CSS
Author: Templates On Web
Author URI: http://templateonweb.com/
Licence: <a href="http://www.templateonweb.com/terms.php?v=content&contentid=152">Website Template Licence</a>
*/
body{
  font-family: 'Play', sans-serif; 
   }
h1,h2,h3,h4,h5,h6{
font-family: 'Bungee Inline', cursive;
   }
a:hover{
 text-decoration:none; 
   }
 ul{
  padding:0;
  margin:0;
  list-style:none!important;
  }
.border_none_1{   
border-right:none!important;
}
.border_none_3{   
border-bottom:none!important;
} 
.border_none_2{   
border-left:none!important;
} 
.border_bottom_1{   
border-bottom:1px solid #cccccc;
}
.border_bottom_2{   
border-bottom:4px solid #669999;
}
.border_bottom_4{   
border-top:1px solid #cccccc;
}
.padding_left_1{ 
padding-left:0;
}
.padding_right_1{ 
padding-right:0;
}
.padding_all{ 
padding-left:0;
padding-right:0;
}
.border_none_1{   
border:none!important;
}
.iw{
 width:100%; 
  } 
/*********************header****************/

#header .navbar-nav.navbar-right:last-child {
padding-right: 70px;
padding-top:4px;
}
#header .navbar-default .color_1 {
color: #000;
font-size:18px;
font-weight:bold;
margin-left:5px;
margin-right:5px;
border-radius:25px 10px;
padding-top:10px;
padding-bottom:12px;
}
#header .color_1:focus{
  background:#CC66FF!important;
 color:#fff!important;  
   }
#header .navbar-default{
  background:none;
  border:none;
 background-color: #fff;
 margin-bottom:0; 
 padding-top:3px;
 padding-bottom:3px;
   }
#header .navbar-brand {
   font-family: 'Bungee Inline', cursive;
   color: #000!important;
	padding-top:5px;
	font-size: 35px;
   font-weight: bold;
   padding-left:70px;
   }
#header .navbar-brand i{
font-size:42px; 
color:#CC66FF;
vertical-align:middle;
   }

#header .navbar-default ul li ul{
background:#fff;
padding:0;
min-width: 200px;
   }
#header .navbar-default ul li ul li a:hover{
background:#CC66FF!important;
   }

#header .navbar-default ul li ul li a{
color:#333;
font-size:18px;
padding:0;
padding:10px 10px 10px 10px;
   }
#header .navbar-default ul li ul li a:hover{
background:none;
color:#fff!important;
   }
#header .nav li .color_1:hover {
color: #fff;
background:#CC66FF;
}
.active_1{
 background:#CC66FF;
 color:#fff!important; 
  }
/*********************header_end****************/
/********************* center ****************/
#center{
  margin-top:55px;
  }
#center .fade-carousel {
    position: relative;
    height: 100vh;
}
#center .fade-carousel .carousel-inner .item {
    height: 100vh;
}
#center .fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
#center .fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
#center .hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
#center .hero h1 {
    font-size:100px;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}
#center .hero h3 {
          color:#FFFF00;
		  
         }
#center .fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
#center .fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}

/********************************/
/*            Overlay           */
/********************************/
#center .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color:#000;
    opacity: .6;
}

/********************************/
/*          Custom Buttons      */
/********************************/
#center .btn.btn-lg {padding: 10px 40px;}
#center .btn.btn-hero,
#center .btn.btn-hero:hover,
#center .btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
#center .fade-carousel .slides .slide-1, 
#center .fade-carousel .slides .slide-2,
#center .fade-carousel .slides .slide-3 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
#center .fade-carousel .slides .slide-1 {
  background-image: url(../img/midh.jpg);
 padding-bottom:20px;
 padding-top:70px;
 background-repeat:no-repeat;
 background-size:cover; 
 background-position:center;
}
#center .fade-carousel .slides .slide-2 {
   background-image: url(../img/midh.jpg);
	         padding-bottom:20px;
		     padding-top:70px;
			 background-repeat:no-repeat;
			 background-size:cover;
			 background-position:center;
}
#center .fade-carousel .slides .slide-3 {
       background-image: url(../img/midh.jpg);
	         padding-bottom:20px;
		     padding-top:70px;
			 background-repeat:no-repeat;
			 background-size:cover;
			 background-position:center;
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }    
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }    
}
/********************* center_end ****************/
/********************* middle ****************/
#middle{ 
padding-top:10px;
padding-bottom:30px;
background-color: rgb(247, 247, 247);
   }
.middle_1 h2{ 
 font-size: 34px;
color: #1f1f26;
  }
.hr_1{ 
 width:6%;
 border-width:5px;
 border-color:#990066;
  }
.middle_1 p{ 
font-size: 18px;
color: #4f4f56;
padding-bottom:10px;
  }
#middle .btn-primary{
  padding:15px 30px;
  display:inline;
  background:#CC66FF;
  border:none;
  color:#fff;
  font-size:16px;
  border-radius:0;
  } 
#middle .btn-primary:hover{
 background:#000;
 color:#fff; 
  }
#middle .box {
  background:#fff;
  transition:all 0.2s ease;
  border:2px dashed #dadada;
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  background-clip: padding-box;
  padding:0 20px 30px 20px;
  min-height:340px;
}

#middle .box:hover {
  border:2px solid #525C7A;
}

#middle .box span.box-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
 }

#middle .box .box-content {
  padding: 16px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
}
#middle .box .box-content p {
  color:#515c66;
  text-transform:none;
  font-size:16px;
}
.box-content h1 i{ 
  color:#FFFFFF;
  background-color:#CC33FF;
  width:70px;
  height:70px;
  border-radius:50%;
  line-height:70px;
    }
/********************* middle_end ****************/
/********************* post ****************/
#post{  
background-image: url(../img/13.jpg);
background-attachment:fixed;
background-repeat: no-repeat;
background-position:center;
  }
.post_m{
  background:#0000007a;
  padding-bottom: 60px;
  padding-top: 40px;
  }
.post_1 h1{  
font-size:60px;
color:#FFFFFF;
font-weight:bold;
line-height:80px;
  }
.post_1 p{  
font-size: 18px;
color: #ffffff;
  }
.post_2 p{  
padding-top:30px;
margin-bottom:15px;
  }
.post_2 p a{  
background:#CC66FF;
text-decoration:none;
color:#FFFFFF;
padding:15px 29px 15px 29px;
font-size: 15px;
  }
.post_2 p a:hover{  
 color:#000;
 background:#fff;
  }
.post_main_1 p{ 
 font-size: 36px;
color: #ffffff;
   }
.hr_4{ 
width:6%;
border-width:5px;
border-color:#fff;
  }
/********************* post_end ****************/
/********************* print ****************/
#print{ 
 padding-top:10px;
 padding-bottom:35px;
    }
.print_1 h2{ 
 font-size: 30px;
color: #1f1f26;
   }
.print_3{ 
 background-color:#9933CC;
 padding-top:10px;
 padding-bottom:10px;
   }
.print_3 p a{ 
text-decoration:none;
color:#FFFFFF;
font-size: 20px;
   } 
.print_3 p{ 
padding-top:10px;
   }
#print .ih-item {
  position: relative;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
#print .ih-item,
#print .ih-item * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#print .ih-item a {
  color: #333;
}
#print .ih-item a:hover {
  text-decoration: none;
}
#print .ih-item img {
  width: 100%;
  height: 100%;
}

#print .ih-item.square {
position: relative;
width: 100%;
height: 254px;
border: 2px solid #fff;
box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
margin-top: 15px;
}
#print .ih-item.square .info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#print .ih-item.square.effect9 {
  -webkit-perspective: 900px;
  -moz-perspective: 900px;
  perspective: 900px;
}
#print .ih-item.square.effect9.colored .info .info-back {
  background: #1a4a72;
}
#print .ih-item.square.effect9.colored .info h3 {
  background: rgba(12, 34, 52, 0.6);
}
#print .ih-item.square.effect9 .img {
  position: relative;
  z-index: 11;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#print .ih-item.square.effect9 .info {
  z-index: 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
#print .ih-item.square.effect9 .info .info-back {
  opacity: 1;
  width: 100%;
  height: 100%;
  padding-top: 30px;
  background: #333333;
}
#print .ih-item.square.effect9 .info h3 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 17px;
  padding: 10px;
  background: #111111;
  margin: 0;
}
#print .ih-item.square.effect9 .info p {
  font-style: italic;
  font-size: 14px;
  position: relative;
  color: #bbb;
  padding: 20px 20px 20px;
  text-align: center;
}
#print .ih-item.square.effect9.bottom_to_top .img {
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
#print .ih-item.square.effect9.bottom_to_top a:hover .img {
  -webkit-transform: rotate3d(1, 0, 0, 180deg);
  -moz-transform: rotate3d(1, 0, 0, 180deg);
  -ms-transform: rotate3d(1, 0, 0, 180deg);
  -o-transform: rotate3d(1, 0, 0, 180deg);
  transform: rotate3d(1, 0, 0, 180deg);
}
/********************* print_end ****************/
/********************* team ****************/
#team{
background-image: url(../img/18.jpg);
background-repeat:no-repeat;
background-position:center;
background-attachment:fixed;
   }
.team_main_new{
 padding-bottom:50px;
 padding-top:40px; 
 background:#0000007a;
  }
.hr_2{ 
 width:6%;
 border-width:5px;
 border-color:#fff;
 padding-bottom:30px;
  }
.team_1 h2{
font-size: 34px;
color: #ffffff;
   }
.team_3 h4{
font-size: 20px;
color: #ffffff;
padding-top:5px;
padding-bottom:5px;
   }
.team_3 p{
font-size: 18px;
color: #ffffff;
   }
.team_2 img {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    margin-bottom:20px;
}

 img:hover {
  filter: none; /* IE6-9 */
  -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
 
}
/********************* team_end ****************/
/********************* muscle ****************/

/* footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline-block;
	margin: 0 2px 0px 0px;
}


/* footer social icons */
.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 40px;
	height: 40px;
	font-size:16px;
}
.social-circle li i {
	margin:0;
	line-height:40px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

.muscle_3 ul li a {
 background-color: #333;   
}

#muscle{ 
 padding-top:20px;
 padding-bottom:30px;
   }
.muscle_1 h2{ 
 font-size: 34px;
color: #1f1f26;
   }
.muscle_3 h4{ 
 padding-top:10px;
   }
.muscle_3 h4 a{ 
font-size: 20px;
text-decoration:none;
color: #1f1f26;
   }
.muscle_3 h4 a:hover{ 
 color:#9966FF;
   }
.muscle_3 p{ 
font-size: 17px;
color: #4f4f56;
   }
#muscle .ih-item {
  position: relative;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
#muscle .ih-item,
#muscle .ih-item * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#muscle .ih-item a {
  color: #333;
}
#muscle .ih-item a:hover {
  text-decoration: none;
}
#muscle .ih-item img {
  width: 100%;
  height: 200px;
}

#muscle .ih-item.square {
  position: relative;
  width: 100%;
  border: 8px solid #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  margin-top:20px;
}
#muscle .ih-item.square .info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#muscle .ih-item.square.effect11 {
  overflow: hidden;
}
#muscle .ih-item.square.effect11.colored .info {
  background: #1a4a72;
}
#muscle .ih-item.square.effect11.colored .info h3 {
  background: rgba(12, 34, 52, 0.6);
}
#muscle .ih-item.square.effect11 .img {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
#muscle .ih-item.square.effect11 .info {
  background: #333333;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.35s ease 0.2s;
  -moz-transition: all 0.35s ease 0.2s;
  transition: all 0.35s ease 0.2s;
}
#muscle .ih-item.square.effect11 .info h3 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 17px;
  padding: 10px;
  background: #111111;
  margin: 30px 0 0 0;
}
#muscle .ih-item.square.effect11 .info p {
  font-style: italic;
  font-size: 14px;
  position: relative;
  color: #bbb;
  padding: 20px 20px 20px;
  text-align: center;
}
#muscle .ih-item.square.effect11 a:hover .img {
  opacity: 0;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
}
#muscle .ih-item.square.effect11 a:hover .info {
  visibility: visible;
  opacity: 1;
}

#muscle .ih-item.square.effect11.left_to_right .info {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
#muscle .ih-item.square.effect11.left_to_right a:hover .info {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
/********************* muscle_end ****************/

/*********************team_home****************/
#team_home{
   background:#f4f4f4;
   padding-top:10px;
   padding-bottom:20px; 
	}
.team_home_t p{
  font-size:16px; 
   }
.team_h{
  margin-top:25px;
  }
.team_h_1 h3 a{
 color:#CC66FF; 
  }
.team_h_1 h6 {
 font-size:14px; 
  }
/*********************team_home_end****************/
/********************* footer ****************/
#footer{ 
padding-bottom:30px;
padding-top:10px;
background:#f4f4f4;
   }
.footer_7 i {
font-size: 42px;
color: #CC66FF;
vertical-align:middle;
}
.footer_7 a{
font-size: 28px;
color: #000!important;
font-family: 'Bungee Inline', cursive;
font-weight: bold;
text-decoration:none;
}
.footer_8 p{
color: #333!important;
padding-top:8px;
font-size: 15px;
}
.footer_8 a{
color:#000;
font-size: 16px;
font-weight:bold;
}
.footer_8 a:hover{
 text-decoration:none;
 color:#CC66FF; 
  }
.footer_b{
  background:#fff;
  padding-top:15px;
  margin-top:15px;
  }
.footer_b ul li a {
 background-color: #333;   
}
.footer_inner p{
 font-size:16px; 
  }
.footer_inner ul li{
 margin-top:5px;
 font-size:16px; 
  }
.footer_inner ul li a{
color:#333;
text-decoration:none;
  }
.footer_inner ul li  i{
margin-right:5px;
vertical-align:middle;
  }
.footer_inner ul li a:hover{
color:#CC66FF;
  }
.footer_inner h4 a{
 background: #CC66FF;
 display:inline-block;
 padding:15px 30px;
 color:#fff;
 font-family: 'Play', sans-serif; 
 margin-top:10px;
  }
.footer_inner h4 a:hover{
  background:#000;
  }
.footer_inner .form-control{
   height:45px;
   border-radius:0;
   }
/********************* footer_end ****************/

/********************* about ****************/
#about{ 
background-image: url(../img/midh.jpg);
background-repeat:no-repeat;
background-size:cover; 
margin-top:55px;
   }
.about_main_new{
 background:#cc66ff3b;
 padding-bottom:200px;
 padding-top:200px;
  }
#about_service{
background-image: url(../img/1.jpg);
background-repeat:no-repeat;
background-size:cover; 
margin-top:55px;
  }
#about_contact{
background-image: url(../img/midh.jpg);
background-repeat:no-repeat;
background-size:cover; 
margin-top:55px;
  }
#about_price{
background-image: url(../img/midh.jpg);
background-repeat:no-repeat;
background-size:cover; 
margin-top:40px;
  }
#about_element{
background-image: url(../img/3.jpg);
background-repeat:no-repeat;
background-size:cover; 
margin-top:40px;
  }
.about_1 h2{ 
font-size: 60px;
color: #ffffff;  
   }
/********************* about_end ****************/
/********************* about_page ****************/
#about_page_m{
  background:#f4f4f4;
  padding-top:40px;
  padding-bottom:40px;
  }
.about_page_il h1{
  margin-top:0;
  }
.about_page_il p{
  font-size:18px;
  }
.about_page_il h4{
  font-family: 'Play', sans-serif; 
  margin-top:15px;
   }
.about_page_il h4 a{
  display:inline-block;
  background:#CC66FF;
  padding:15px 30px;
  color:#fff; 
   }
.about_page_il h4 a:hover{
  background:#000;
  }
  
#about_page{
  padding-top:10px;
  padding-bottom:25px;
  background:#fafafa;
  }
.about_page{
  margin-top:20px;
  }
.about_page ul{
 border:none;
 margin-bottom:20px;
  }
.about_page ul li a{
background:none!important;
color:#000!important;
font-weight:bold;
letter-spacing:1px;
font-size:20px;
border:none!important;
margin-right:5px;
margin-left:5px;
border-radius:0;
  }
.about_page ul li a:hover{
   background:#CC66FF!important;
   color:#fff!important;
  }
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
  background:#CC66FF!important;
  color:#fff!important;
  }
.home_inner h3{
 margin-top:20px;
 color:#333;
 font-weight:bold;
 letter-spacing:1px; 
  }
.home_inner p{
  margin-top:10px;
  line-height:1.6em;
  color:#000;
  font-size:16px;
  }
  
.home_inner h4{
 letter-spacing:1px;
 margin-top:15px; 
 font-family: 'Play', sans-serif; 
  }
.home_inner h4 a{
 background:#CC66FF;
 color:#fff;
 padding:20px 40px;
 display:inline-block;
  }
.home_inner h4 a:hover{
 background:#000;
  }
/********************* about_page_end ****************/
/********************* work ****************/
#work{ 
 padding-top:10px;
 padding-bottom:30px;
   }
.hr_3{ 
 width:6%;
 border-width:5px;
 border-color:#990066;
 padding-bottom:40px;
   }
.work_5{
 text-align:center; 
  }
#work .hr_3{
  padding-bottom:0;
  }
.work_1 h2{ 
font-size: 34px;
color: #1f1f26;
    }
.work_3 h4{ 
line-height:40px;
padding-right:20px;
font-size:27px;
color: #1f1f26;
padding-top:10px;
    }
.work_3 p{ 
padding-right:20px;
font-size: 20px;
color: #4f4f56;
border-bottom:1px solid #eee;
padding-bottom:10px;
    }	
.work_4 p{ 
font-size: 18px;
color: #4f4f56;
padding-top: 5px;
padding-bottom:5px;
    }

.work_5 li a{ 
background:#333;
    }
#work .ih-item {
  position: relative;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
#work .ih-item,
#work .ih-item * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#work .ih-item a {
  color: #333;
}
#work .ih-item a:hover {
  text-decoration: none;
}
#work .ih-item img {
  width: 100%;
  height: 100%;
}

#work .ih-item.circle {
  position: relative;
  width: 220px;
  height: 220px;
  border-radius: 50%;
}
#work .ih-item.circle .img {
  position: relative;
  width: 220px;
  height: 220px;
  border-radius: 50%;
}
#work .ih-item.circle .img:before {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
#work .ih-item.circle .img img {
  border-radius: 50%;
}
#work .ih-item.circle .info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#work .ih-item.square {
  position: relative;
  width: 316px;
  height: 216px;
  border: 8px solid #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
#work .ih-item.square .info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#work .ih-item.circle.effect6 .img {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
#work .ih-item.circle.effect6.colored .info {
  background: #1a4a72;
}
.ih-item.circle.effect6 .info {
  background: #333333;
  opacity: 0;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
#work .ih-item.circle.effect6 .info h3 {
  color: #fff;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 2px;
  font-size: 22px;
  margin: 0 30px;
  padding: 55px 0 0 0;
  height: 110px;
  text-shadow: 0 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.3);
}
#work .ih-item.circle.effect6 .info p {
  color: #bbb;
  padding: 10px 5px;
  font-style: italic;
  margin: 0 30px;
  font-size: 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
#work .ih-item.circle.effect6.scale_down .info {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
}
#work .ih-item.circle.effect6.scale_down a:hover .img {
  opacity: 0;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
}
#work .ih-item.circle.effect6.scale_down a:hover .info {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

#work .ih-item.circle.effect6.scale_down_up .info {
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);

  transform: scale(0.5);
  -webkit-transition: all 0.35s ease-in-out 0.2s;
  -moz-transition: all 0.35s ease-in-out 0.2s;
  transition: all 0.35s ease-in-out 0.2s;
}
#work .ih-item.circle.effect6.scale_down_up a:hover .img {
  opacity: 0;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
}
#work .ih-item.circle.effect6.scale_down_up a:hover .info {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
/********************* work_end ****************/
/********************* our ****************/
#our{  
background-color: #f4f4f4;
padding-top:10px;
padding-bottom:20px;
  }
.hr_2{ 
 width:6%;
 border-width:5px;
 border-color:#9966CC;
 padding-bottom:40px;
  }
.our_1 h2{
font-size: 34px;
color: #000;
   }
.our_3 h4{
font-size: 20px;
color: #000;
padding-top:5px;
padding-bottom:5px;
   }
.our_3 p{
font-size: 18px;
color: #000;
   }
.our_2 img {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
}

 img:hover {
  filter: none; /* IE6-9 */
  -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
 
}
/********************* our_end ****************/

/********************* contact ****************/
#contact{ 
padding-top:35px;
padding-bottom:30px;
    }
/********************* contact_end ****************/
/********************* contact_inner ****************/
#contact_inner{ 
 padding-top:20px;
 padding-bottom:45px;
 background:#fafafa;
    }
.contact_inner_1 h2{ 
 font-size: 34px;
color: #1f1f26;
    }
.contact_inner_2 input {
padding-top:21px;
padding-bottom:21px;
margin-top:10px;
}
#contact_inner .form-control{
border-radius:0px;
font-size:16px;
}
.contact_inner_3 textarea {
padding-bottom: 50px;
height: 10em;
width: 95%;
margin-top: 10px;
margin-left:13px;
}
.contact_inner_4 p{
padding-top:45px;
  }
.contact_inner_4 p a{
text-decoration:none;
font-size: 16px;
color: #ffffff;
border:1px solid #CC66FF;
background-color:#CC66FF;
padding:15px 30px 15px 30px;
  }
.contact_inner_4 p a:hover{
 background-color:#333333;
 color:#FFFFFF;
 border:1px solid #333333;
  }
/********************* contact_inner_end ****************/

/*********************service_n****************/
#service_n{
   padding-top:20px;
   padding-bottom:40px;
   }
.service_it{
  padding-left:15px;
  padding-right:15px;
  }
.service_it hr{
 border-color:#CC66FF;
 border-width:3px;
 width:50px;
 margin-left:0;  
   }
.service_n_i1 p{
 font-size:16px; 
  }
.service_n_i1 img{
width:100%;
margin-top:10px;
  }
  
.ziehharmonika h3 {
	background: #272e35;
	color: #fff;
	text-align: left;
	border-radius: 4px;
	padding: 14px 12px;
	cursor: pointer;
	margin-top: 0;
	margin-bottom: 9px;
	padding-right: 40px;
	transition: 0.25s all;
	position: relative;
}
.ziehharmonika h3.active {
	margin-bottom: 21px;
	background: #CC66FF;
}
.ziehharmonika h3::before {
	content: attr(data-prefix);
	font-size: 18px;
	margin-right: 9px;
}
.ziehharmonika h3.alignLeft {
	padding-left: 35px;
}
.ziehharmonika > div {
	display: none;
	background: #fff;
	border-radius: 4px;
	border: 1px solid #cdcdcd;
	text-align: left;
	padding: 31px 33px;
	margin-bottom: 9px;
}
.ziehharmonika .arrowDown {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 13.0px 7.5px 0 7.5px;
	border-color: #272e35 transparent transparent transparent;
	position: absolute;
	bottom: 0;
	left: 40px;
	transition: 0.25s all;
	opacity: 0;
}
.ziehharmonika .active .arrowDown {
	bottom: -13px;
	border-color: #CC66FF transparent transparent transparent;
	opacity: 1;
}
.ziehharmonika .collapseIcon {
	position: absolute;
	right: 20px;
	top: 45%;
	font-size: 25px;
	font-weight: 300;
	-ms-transform: translate(0, -50%);
	    transform: translate(0, -50%);
}
.ziehharmonika .collapseIcon.alignLeft {
	right: initial;
	left: 20px;
}
.ziehharmonika{
 margin-top:20px; 
  }
  
.service_nli1 h4{
    font-family: 'Play', sans-serif;
  }
#service_nl{
 background-image: url(../img/midh.jpg);
 background-repeat:no-repeat;
 background-position:center; 
  }
.service_nlm{
    background:#ffffffc9;
	padding-top:100px;
	padding-bottom:100px;
	}
.service_nli1 span a{
color:#CC66FF;
font-size:60px;    
   }
. _nli1 h3{
 color:#CC66FF;
 margin-top:0; 
  }
/*********************service_n_end****************
/*********************blog****************/
#about_blog{
background-image: url(../img/midh.jpg);
background-repeat:no-repeat;
background-size:cover; 
margin-top:55px;
  }
.blog_home1il h6 span{
 display:block; 
  }
.blog_home1il h6{
font-size:12px;
color:#fff;
  }
.date{
 background:#CC66FF;
 padding: 9px 0px;
 width:17%;
 text-align:center; 
 font-family: 'Play', sans-serif; 
  }
.year{
 background:#000;
 padding: 9px 0px;
 width:17%;
 text-align:center; 
 font-family: 'Play', sans-serif; 
  }
.blog_home1il{
 position:absolute;
 width:99%; 
 top:2%;
 left:2%;
  }
.blog_home1i{
 position:relative; 
  }
#blog{
 padding-top:20px;
 padding-bottom:10px; 
  }
.blog_1r h6 a{
 color:#999; 
  }
.blog_1r h6 i{
margin-right:5px; 
color:#999;
  }
.blog_1r h5 a{
color:#CC66FF;
  }
.blog_1r h5 a:hover{
color: #000;
  }
.blog_1r ul{
margin-top:15px;  
  }
.blog_1r ul li{
display:inline-block;
  }
.blog_1r ul li a{
border:1px solid #ddd;
margin-right:5px;
font-size:14px;
padding:5px 10px;
color:#999;
  }
.blog_1{
margin-top:20px;  
  }
.blog_2{
  padding-left:15px;
  padding-right:15px; 
  margin-top:20px;
	}
.blog_2 ul {
 border-radius:0; 
  }
.blog_2 ul li a{
 border-radius:0!important; 
 color:#000;
 padding:5px 14px;
  }
.blog_2 ul li a:hover{
background:#CC66FF;
border-color:#CC66FF;
color:#fff;
  }
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{
 background:#CC66FF;
 border-color:#CC66FF;
 }
.blog_1r h3 {
padding:0;
margin:0;
   }
.blog_1r h3 a{
   color:#333;
   }
.blog_1r p{
font-size:16px;
   }
/*********************blog_end****************/

/*********************blog_detail****************/
.about_detail {
background-image: url(../img/midh.jpg)!important;
background-repeat:no-repeat;
background-size:cover; 
margin-top:55px;
}
.blog_home1il h6 span{
 display:block; 
  }
.blog_home1il h6{
font-size:12px;
color:#fff;
  }
.date_1{
 background:#6AAF08;
 padding: 9px 0px;
 width:5%;
 text-align:center; 
 font-family: 'Play', sans-serif; 
  }
.year_1{
 background:#000;
 padding: 9px 0px;
 width:5%;
 text-align:center;
 font-family: 'Play', sans-serif;  
  }
.blog_home1il{
 position:absolute;
 width:99%; 
 top:2%;
 left:2%;
  }
.blog_home1i{
 position:relative; 
  }
.blog_1r h6 a{
 color:#999; 
  }
.blog_1r h6 i{
margin-right:5px; 
color:#999;
  }
.blog_1r p a {
color:#CC66FF;
font-family: 'Bungee Inline', cursive;
font-weight:100!important;
  }
  
.bd1{
 margin-top:20px;
 }
.bd1 .form-control{
border-radius:0;
height:40px;
margin-top:15px;
 }
.bd1 .form_1{
 height:100px; 
  }
.detail_page .blog_1r h3{
  margin-top:15px; 
   }
.bd1 h3{
margin-top:0;
  } 
.button{
    background:#CC66FF;
	display:inline-block;
	color:#fff;
	padding:15px 30px;
	font-family: 'Play', sans-serif; 
	margin-top:10px;
	}
.button:hover{
 background:#000;
 color:#fff; 
   }
.detail_page{
  padding:0!important;
  padding-top:10px!important;
  padding-bottom:20px!important;
  }
/*********************blog_detail_end****************/

@media screen and (max-width : 767px){
#header .navbar-brand {
padding-left: 0px;
padding-top:0;
}
#header .navbar-default .color_1{
   border-radius:0;
   font-size:30px!important;
   }
#header .navbar-collapse {
max-height:none;
}
#header .navbar-default .navbar-nav>li>a {
padding-bottom: 0px;
}
.active_1 {
color: #fff!important;
background:#a175aa;
}
.active_1:hover{
 background:#a175aa!important; 
 color:#fff;
  }
#header .navbar-default .navbar-nav>li>a:hover {
background-color:#a175aa;
padding-bottom:5px;
color:#fff!important;
}
#header .navbar-default .navbar-nav>li>a:focus{
  background-color:#a175aa;
  }
#header .navbar-nav.navbar-right:last-child {
padding-right:0px;
}
#center .hero h1 {
font-size: 30px;
}
#center .hero h3 {
font-size: 20px;
}
#print .ih-item.square {
width: 100%;
height: 100%;
}
#print {
padding-top: 0px;
padding-bottom: 20px;
}
.hr_2 {
padding-bottom: 0px;
}
#muscle .ih-item.square {
width: 100%;
height: 100%;
}
.muscle_1 h2 {
font-size: 24px;
}
.footer_9 ul {
padding-left: 10px;
padding-right: 10px;
}
.post_1 h1 {
font-size: 35px;
line-height:1.3em;
}

#header .navbar-nav.navbar-right:last-child {
text-align: center;
}
#header .navbar-default ul li ul {
width: auto;
}
#header .navbar-brand {
font-size: 23px;
}
#header .navbar-brand i {
font-size: 30px;
}
.about_main_1 p {
text-align: center;
}
#about {
padding-bottom: 80px;
padding-top: 80px;
}
#middle {
padding-top: 20px;
padding-bottom: 20px;
}
#work {
padding-top: 20px;
padding-bottom: 20px;
}
.work_1 h2 {
font-size: 24px;
}
.hr_3 {
padding-bottom: 10px;
}
.post_main_1 p {
font-size: 20px;
}
.footer_1 h4 {
text-align: center;
}
.footer_1 p {
text-align: center;
}
.footer_2 h4 {
text-align: center;
}
.footer_2 ul {
text-align: center;
}
.footer_3{ 
text-align: center;
}
.footer_4 p {
text-align: center;
}
.footer_5 p {
text-align: center;
}
.footer_6 p {
text-align: center;
}
.footer_7 p {
text-align: center;
}
.footer_8 p {
text-align: center;
}
.footer_9 ul {
padding-left:0px;
padding-right:0px;
text-align: center;
}
#work{ 
overflow:hidden;
}
.about_1 h2 {
font-size: 30px;
}
#pages .btn-default {
color: #333;
background-color: #fff;
border-color: #ccc;
margin: 5px;
}
#pages .label {
display: inline;
padding: .4em .6em .3em;
font-size: 75%;
font-weight: 700;
line-height: 2.3;
color: #fff;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
border-radius: .25em;
}
#pages .img-thumbnail {
width: 100%;
}
#pages{ 
text-align:center;
}
#center{
 margin-top:0; 
  }
#header .navbar-brand{
padding:10px 10px;  
  }
.navbar-default .navbar-toggle{
  background:#CC66FF;
  border:none;
  margin-top:10px;
  }
.navbar-default .navbar-toggle:focus{
  background:#CC66FF;
  border:none;
  }
.navbar-default .navbar-toggle:hover{
  background:#CC66FF;
  border:none;
  }
.navbar-default .navbar-toggle .icon-bar{
background:#fff;
  }
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
box-shadow:none;
border:none;  
  }
.color_1{
 font-size:24px!important;
 border-bottom:1px solid #eee;
 padding-bottom:15px!important;
 padding-top:15px!important;
 margin:0!important;
  }
#header .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
  background:#CC66FF!important;
  border:none;
  }
.muscle_3{
 text-align:center; 
  }
#about{
   padding-top:0;
   padding-bottom:0;
   }
#pages p .btn{
  margin-bottom:10px;
  }
#pages  .label {
font-size: 50%;
}  
#contact{
 text-align:center;
  }
#header .navbar-default ul li ul li a{
 font-size:24px; 
  }
.left_1{
 float:left!important; 
  }
.footer_2 ul li{
  display:inline-block;
  }
.footer_5 p{
display:inline-block; 
margin:2px;
   }
.footer_6 p{
display:inline-block; 
margin:2px;
   }
#work .ih-item.circle{
margin:auto; 
 }
.contact_inner_3 textarea{
 margin-left:0;
 width:100%; 
  }
.muscle_3{ 
 text-align:center;
  }
.footer_1 h4 {
text-align: center;
}
.footer_1 p {
text-align: center;
}
.footer_2 h4 {
text-align: center;
}
.footer_2 ul {
text-align: center;
}
.footer_3{ 
text-align:center;
}
.footer_4 p {
text-align: center;
}
.footer_5{  
text-align: center;
}
.footer_6{  
text-align: center;
}
.footer_7{  
text-align: center;
}
.footer_8 p {
text-align: center;
}
.footer_9 ul {
text-align: center;
}
#header .navbar-default ul li ul {
width:100%;
}
.navbar{
  position:static;
  }
#footer{
 text-align:center; 
  }
.footer_inner ul li{
display:inline-block;  
  }
.footer_7 a{
 font-size:26px; 
  }
.footer_9{
 padding-bottom:20px; 
  }
#about{
 margin-top:0; 
  }
.about_main_new{
 padding-top:80px;
 padding-bottom:80px; 
  }
#about_page_m{
 text-align:center; 
  }
.work_3 h4{
padding-right:0;  
  }
.work_3 p{
padding-right:0;  
  }
.work_2{
 margin-top:15px; 
  }
#about_page{
padding-left:10px;
padding-right:10px;
text-align:center;  
  }
#about_service{
 margin-top:0; 
  }
#service_n{
 text-align:center;  
   }
.service_it hr{
 margin-left:auto;
 margin-right:auto;  
   }
.service_n_i1 img{
 margin-bottom:10px;  
   }
.ziehharmonika {
  text-align:center;
  }
.ziehharmonika h3{
 font-size:20px;
  }
.service_nlm{
 padding-top:60px;
 padding-bottom:60px; 
  }
#about_blog{
 margin-top:0; 
  }
.date{
  width:20%;
  }
.year{
  width:20%;
  }
.blog_1r{
 margin-top:15px; 
  }
#blog{
  text-align:center;
  }
.blog_1r ul li {
margin-top:5px;
  }
.blog_1r ul li a{
  display:block;
  }
.pagination>li{
  display:inline-block;
  margin-bottom:5px; 
   }
.about_detail{
 margin-top:0; 
  }
.date_1{
  width:20%;
  }
.year_1{
  width:20%;
  }
.bd1 h3{
  margin-top:10px;
  }
#about_contact{
  margin-top:0;
  }
}

@media (min-width:768px) and (max-width:991px) { 
#header .navbar-brand {
padding-left: 10px;
}
#header .navbar-nav.navbar-right:last-child {
padding-right: 10px;
}
#header .nav>li>a {
padding: 10px 7px;
margin: 1px;
}
#print .ih-item.square {
width: 100%;
height: 100%;
}
#print .ih-item.square.effect9 .info h3 {
font-size: 10px;
}
.print_3 p a {
font-size: 14px;
}
#muscle .ih-item.square {
width: 100%;
height: 100%;
}
.muscle_3 h4 a {
font-size: 16px;
}
.footer_2 h4 {
font-size: 16px;
padding-bottom:20px;
}
.footer_1 h4 {
font-size: 16px;
}
.footer_1 p{
 font-size: 14px; 
  }
.footer_2 li a {
font-size: 14px;
}
.footer_2 i {
font-size: 5px;
}
.footer_4 p {
font-size: 14px;
}
.footer_5 p {
font-size: 14px;
line-height: 28px;
}
.footer_6 p {
font-size: 12px;
line-height: 28px;
}
.footer_7 i {
font-size: 18px;
}
.footer_7 a {
font-size: 18px;
}
.footer_8 p {
padding-top: 0px;
font-size: 14px;
}
.footer_8 a {
font-size: 14px;
}
.footer_9 li a {
width:25px;
height:25px;
font-size:12px;
}
.footer_9 li a i{
line-height:25px;
}
.footer_9 ul {
padding-top: 0px;
}
#work .ih-item.circle {
width: 170px;
height: 170px;
}
#work .ih-item.circle .img {
width: 170px;
height: 170px;
}
#work{ 
overflow:hidden;
}
.work_4 p {
font-size: 13px;
}

#header .navbar-default .navbar-nav>li>a{
 font-size:16px;
 padding-top:10px; 
  }
.container{
 width:100%;
  }
#header .navbar-brand{
  font-size:20px;
  }
#center{
  margin-top:39px;
  }
#print .ih-item img{
  height:250px;
  }
#print .ih-item.square.effect9 .info p{
  font-size:12px;
  }
.work_3 h4{
  font-size:20px;
  }
.work_5 li a{
  font-size:20px; 
  }
.contact_5 img{
height:400px;  
  }
.contact_4 p{
  font-size:14px;  
  padding:0px 5px 0px 5px;
  }
#center .hero h1{
 font-size:60px;  
   }
ul.social-network li{
 margin-bottom:5px;
 }
#about_page{
 padding-left:10px;
 padding-right:10px; 
  }
.date{
  width:25%;
  }
.year{
  width:25%;
  }
.date_1{
  width:10%;
  }
.year_1{
  width:10%;
  }
.blog_home1il{
 width:99%;
  }
}
 
 
@media (min-width:992px) and (max-width:1200px) {
#header .navbar-nav.navbar-right:last-child {
padding-right: 10px;
}
#print .ih-item.square {
width: 100%;
height: 100%;
}
#print .ih-item.square.effect9 .info h3 {
font-size: 10px;
}
.print_3 p a {
font-size: 15px;
}
#muscle .ih-item.square {
width: 100%;
height: 100%;
}
.muscle_3 h4 a {
font-size: 16px;
}
#muscle .ih-item.square.effect11 .info h3 {
font-size: 10px;
padding: 0px;
}
.muscle_3 p {
font-size: 16px;
}
.footer_1 h4 {
font-size: 18px;
}
.footer_2 h4 {
font-size: 18px;
padding-bottom:20px;
}
.footer_2 li a {
line-height: 30px;
font-size: 14px;
}
.footer_2 i {
font-size: 5px;
}
.footer_4 p {
font-size: 14px;
}
.footer_5 p {
font-size: 14px;
line-height: 26px;
}
.footer_6 p {
font-size: 14px;
line-height: 26px;
}
.footer_1 p {
font-size: 14px;
}
.footer_7 i {
font-size: 18px;
}
.footer_7 a {
font-size: 18px;
}
.footer_8 p {
padding-top: 0px;
font-size: 14px;
}
.footer_8 a {
font-size: 14px;
}
.footer_9 li a {
width:30px;
height:30px;
}
.footer_9 li a i{
line-height:30px;
}
.footer_9 ul {
padding-top: 0px;
padding-left:10px;
}
#work .ih-item.circle {
width: 170px;
height: 170px;
}
#work .ih-item.circle .img {
width: 170px;
height: 170px;
}
.work_4 p {
font-size: 14px;
}
.container{
 width:100%;
  }
#header .navbar-default .navbar-nav>li>a{
 font-size: 18px;
 }
#header .navbar-brand{
 padding-left:10px; 
 font-size:30px;
  }
#print .ih-item img{
  height:250px;
  }
#print .ih-item.square.effect9 .info p{
  font-size:12px;
  }
.muscle_3 h4 a{
 font-size:20px;
 }
.footer_7 a{
padding-left:10px; 
 }
 #about_page{
 padding-left:10px;
 padding-right:10px; 
  }
.blog_home1il{
 width:99%;
  }
}
 
 
@media (min-width:1201px) and (max-width:1320px) {

}